* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: #1c1c1c;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  width: 100vw;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #1c1c1c;
  font-family: "Ubuntu", "Anek Telugu", "Open Sans";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
