* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background-color: #fff;
  color: #1c1c1c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;

  font-size: 10px;
}

body {
  display: flex;

  width: 100vw;

  position: relative;

  margin: 0;
  overflow-x: hidden;

  background-color: #1c1c1c;
  color: #fff;

  font-family: "Ubuntu", "Anek Telugu", "Open Sans";
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */

  background-color: rgb(255, 255, 255); /* color of the scroll thumb */
}

@media (max-width: 4800px) {
  html,
  body {
    font-size: 30px;
  }
}

@media (max-width: 3400px) {
  html,
  body {
    font-size: 20px;
  }
}

@media (max-width: 2400px) {
  html,
  body {
    font-size: 17px;
  }
}

@media (max-width: 1750px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 581px) {
  html,
  body {
    font-size: 10.5px;
  }
}
